<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
  Copyright (c) 2017-2018 Thales Global Services S.A.S.
  This program and the accompanying materials are made
  available under the terms of the Eclipse Public License 2.0
  which is available at https://www.eclipse.org/legal/epl-2.0/
  
  SPDX-License-Identifier: EPL-2.0
  
   Contributors:
  Thales Global Services S.A.S - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated EGraphs -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.diffmerge.structures.model.egraphs.presentation.EGraphsModelWizardID"
            name="%_UI_EGraphsModelWizard_label"
            class="org.eclipse.emf.diffmerge.structures.model.egraphs.presentation.EGraphsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EGraphsModelFile.gif">
         <description>%_UI_EGraphsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated EGraphs -->
      <editor
            id="org.eclipse.emf.diffmerge.structures.model.egraphs.presentation.EGraphsEditorID"
            name="%_UI_EGraphsEditor_label"
            icon="icons/full/obj16/EGraphsModelFile.gif"
            extensions="egraphs"
            class="org.eclipse.emf.diffmerge.structures.model.egraphs.presentation.EGraphsEditor"
            contributorClass="org.eclipse.emf.diffmerge.structures.model.egraphs.presentation.EGraphsActionBarContributor">
      </editor>
   </extension>

</plugin>
