<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
  Copyright (c) 2017-2019 Thales Global Services S.A.S.
  This program and the accompanying materials are made
  available under the terms of the Eclipse Public License 2.0
  which is available at https://www.eclipse.org/legal/epl-2.0/
  
  SPDX-License-Identifier: EPL-2.0
  
   Contributors:
  Thales Global Services S.A.S - initial API and implementation
-->

<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.eclipse.emf.diffmerge.structures.design.TestAction"
            id="org.eclipse.emf.diffmerge.structures.sirius.TestAction">
      </javaActions>
      <javaActions
            actionClass="org.eclipse.emf.diffmerge.structures.design.ResetAction"
            id="org.eclipse.emf.diffmerge.structures.sirius.ResetAction">
      </javaActions>
   </extension>

</plugin>
