<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.diffmerge.ui.modelComparisonContext">
      <scopeDefinition
            factory="org.eclipse.emf.diffmerge.ui.gmf.GMFScopeDefinitionFactory">
      </scopeDefinition>
      <comparisonMethod
            factory="org.eclipse.emf.diffmerge.ui.gmf.GMFComparisonMethodFactory">
      </comparisonMethod>
   </extension>

</plugin>
