<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.diffmerge.ui.modelComparisonContext">
      <comparisonScope
            scopeFactory="org.eclipse.emf.diffmerge.ui.gmf.GMFScopeFactory">
      </comparisonScope>
      <comparisonSpecification
            specificationFactory="org.eclipse.emf.diffmerge.ui.gmf.GMFComparisonFactory">
      </comparisonSpecification>
   </extension>

</plugin>
