<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2010-2019 Thales Global Services S.A.S.
  This program and the accompanying materials are made
  available under the terms of the Eclipse Public License 2.0
  which is available at https://www.eclipse.org/legal/epl-2.0/
  
  SPDX-License-Identifier: EPL-2.0
  
   Contributors:
  Thales Global Services S.A.S - initial API and implementation
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/diffmerge/tests/elements/1.0.0"
            class="org.eclipse.emf.diffmerge.tests.elements.Elements.ElementsPackage"
            genModel="model/Elements.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="elements"
            id="org.eclipse.emf.diffmerge.tests.elements.content-type"
            name="elements"
            priority="normal">
      </content-type>
   </extension>

</plugin>
